<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.TbHeartbeatMapper">
  <resultMap id="BaseResultMap" type="com.lanou.bean.TbHeartbeat">
    <result column="a" jdbcType="CHAR" property="a" />
  </resultMap>
  <insert id="insert" parameterType="com.lanou.bean.TbHeartbeat">
    insert into tb_heartbeat (a)
    values (#{a,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.bean.TbHeartbeat">
    insert into tb_heartbeat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="a != null">
        a,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="a != null">
        #{a,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>